html, body {
	margin: 0;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	color: #374257;
	overflow: hidden;
}

body:before {
	content: '';
	background-image( radial-gradient( center, ellipse cover, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 95% ) );
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	opacity: 0.9;
	height: 100%;
	width: 100%;
}
body:after {
    background: url( 'http://s.cdpn.io/1715/noise-1.png' );
    position: absolute;
    content: '';
    z-index: -1;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#content {
	letter-spacing: -1px;
	position: absolute;
	left: 10%;
	z-index: 5;
	font-size: 2em;
}

#content h1 {
	letter-spacing: -3px;
	display: inline-block;
	line-height: 1.1em;
	margin: 15px 0 0 0;
}
#content h3 {
	line-height: 1.1em;
	margin: 0;
	display: inline-block;
}

::selection {
	background-color: inherit;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}